.monospace {
  font-family: 'IBM Plex Mono', monospace;
}

.project-list {
  font-size: 2.0rem;
}

.project {
  border-bottom: 1px solid #E5E5E5;
}
.project:last-of-type {
  border-bottom: none;
}

/* basic definition of project-heading is in common.css */
.project-heading {
  margin: 0.8em 0;
  cursor: pointer;
}

.project-details {
  overflow-y: hidden;
  font-size: 1.1rem;
  transition: height 0.2s;
}
.project.is-folded .project-details {
  /* height is programatically manipulated by project-list-mixin.js. */
  height: 0;
}

.project-details p {
  margin: 4em 0;
}

.notice {
  display: block;
}
.notice::before {
  content: "⚠";
}
