.section-navigator {
  position: relative;
  /* TODO: how do you handle an oversized element? */
  overflow-x: hidden;
}
.navigation-menu {
  position: absolute;
  display: inline-block;
  margin-left: 110px;
  width: 15em;
  transition-property: top, width;
  transition-duration: 0.2s;
}
.is-folded .navigation-menu {
  position: fixed;
  width: 0;
  top: 1em;
}
.is-folded .navigation-menu:hover {
  /*
   * it is annoying to see overlapping sections,
   * after jumping via the navigation menu.
   */
  transition: none;
}
.is-folded.is-slid-in .navigation-menu {
  width: 15em;
}

.navigation-menu-item {
  display: block;
  line-height: 30px;
  color: #404245;
  text-decoration: none;
  overflow: hidden;
  text-overflow: none;
  white-space: nowrap;
}
.navigation-menu-item:hover {
  text-decoration: underline;
}
.navigation-menu-item::before {
  position: absolute;
  content: "○";
  left: -2em;
  /* fills the gap between a bullet and item body to capture a pointer. */
  padding-right: 2em;
}
.navigation-menu-item.is-active::before {
  content: "●";
}

.navigation-contents {
  /* padding-top is reserved for the navigation menu. */
  padding-top: 12em;
  margin-left: 110px;
  width: calc(100% - 110px);
  transition: margin-left 0.2s;
}
.is-slid-in .navigation-contents {
  margin-left: calc(110px + 15.5em);
}

.roadmap {
  font-size: 13px;
  line-height: 20px;
  letter-spacing: -0.2px;
  /*
   * Suppresses automatic size adjustment on Safari on iOS.
   * https://stackoverflow.com/questions/3226001/some-font-sizes-rendered-larger-on-safari-iphone
   *
   * TODO: do I have to consider about the screen size?
   */
  -webkit-text-size-adjust: 100%;
}

.roadmap-milestone {
  display: flex;
  align-items: center;
  margin: 0 0;
}

.roadmap-milestone-name {
  display: flex;
  flex-shrink: 0;
  align-items: center;
  margin-right: 20px;
  font-weight: bold;
}
.roadmap-milestone-name::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  margin-right: 20px;
  border: 1px solid #404245;
  border-radius: 50%;
}

.roadmap-level-2 {
  margin-left: 8.5px;
  padding: 0 0;
  border-left: 1px dashed #C6CAD0;
}
.roadmap-level-2:first-of-type {
  padding-top: 15px;
}
.roadmap-level-2:last-of-type {
  padding-bottom: 15px;
}
.roadmap-level-1:last-of-type .roadmap-level-2 {
  border-left: none;
}

.roadmap-module {
  display: flex;
  margin-left: 28.5px;
  padding: 15px 0;
  border-top: 1px solid #E5E5E5;
}
.roadmap-level-2:last-of-type .roadmap-module {
  border-bottom: 1px solid #E5E5E5;
}
.roadmap-level-1:last-of-type .roadmap-level-2:last-of-type .roadmap-module {
  border-bottom: none;
}

.roadmap-module-name {
  width: 72px;
  flex-shrink: 0;
  font-size: 10px;
  line-height: 14px;
  font-weight: bold;
  color: #8E949E;
}

.roadmap-task-list {
  width: calc(100% - 72px);
}

.roadmap-task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0;
}

.roadmap-task-description {
  display: flex;
  align-items: center;
  margin: 0 0;
}
.roadmap-task-description::before {
  content: "";
  display: inline-block;
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  margin-right: 20px;
  text-align: center;
  line-height: normal;
  border: 1px solid #404245;
  border-radius: 50%;
}
.is-done .roadmap-task-description::before {
  content: "✓";
}
.is-feature-request .roadmap-task-description::before {
  border-color: #C6CAD0;
}

.roadmap-task-state {
  display: inline-block;
  flex-shrink: 0;
  margin: 0 0;
  padding: 4px 12px;
  font-size: 10px;
  line-height: 13px;
  letter-spacing: normal;
  border: 1px solid;
  border-radius: 10px;
}
.is-done .roadmap-task-state {
  color: #CADA08;
  border-color: #CADA08;
}
.is-in-progress .roadmap-task-state {
  color: #8E949E;
  border-color: #8E949E;
}
.is-pending .roadmap-task-state,
.is-feature-request .roadmap-task-state {
  color: #C6CAD0;
  border-color: #C6CAD0;
}

.roadmap-task-link {
  height: 15px;
  margin-left: 8.5px;
  padding-top: 15px;
  border-left: 1px dashed #C6CAD0;
}
.roadmap-task-link.is-done {
  border-left: 1px solid #404245;
}

.roadmap-task-delimiter {
  padding: 0 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 28.5px;
  border-top: 1px solid #E5E5E5;
}

